.pie-container {
    border: 1px solid red;
    position: relative;
    // margin: 50px;
    // padding: 50px;
    // width: 800px;
    // height: 800px;
    svg {
        width: 330px;
        height: 200px;
        border: 1px solid blue;
        .slices {
            border: 2px solid yellow;
        }
        // width: 500px;
        // height: 300px;
        // border: 1px solid blue;
        // margin: auto;

        g.slices {
            .slice {
                stroke-width: 2px;
                border: 1px solid blue;
            }
        }

        text {
            stroke: rgba(255, 255, 255, 0.4);
            stroke-width: 1px;
            fill: rgba(90, 90, 90.3);
            font-weight: bold;
            font-size: 14px;
        }
    }

    g {
        path {
            stroke: white;
            stroke-width: 2px !important;
        }
    }
}
